#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.left-part {
  width: 25%;
}

.container {
  display: flex;
  /* height: 100vh; */
  /* min-height: 100vh; */
  min-height: 130vh;
}

.containeroption {
  display: flex;
}

.left-div {
  /* width: 25%; */
  width: 25vw;
  background-color: red;
}

.right-div {
  /* width: 75%; */
  width: 75vw;
  background-color: lightgreen;
}

.text {
  color: white;
  padding: 1rem;
}

.formtoolboxbuttons {
  /* padding-bottom: 50%; */
  margin-bottom: 30%;
  min-width: 10vw;
}

.formstatebuttons {
  /* padding-bottom: 50%; */
  margin-bottom: 2%;
}

.editbuttonsmultichoice {
  /* padding-bottom: 50%; */
  /* font-size: small; */
  font-size: small;
  padding: 1%;

  size: 10%;
  /* margin-bottom: 30%; */
}

.buttontitlesize {
  width: 15vw;
  height: 0.5vh;
  padding: 1vh;
  text-align: center; /* Add this line */
  /* background-color: white; */
}

.multiChoiceOptionContainer {
  display: flex;
  align-items: center; /* Vertically align items */
}

/* In your App.css */

/* General Container for Alignment */
.chat-message-container {
  display: flex; /* Enables alignment control */
  margin-bottom: 10px;
  width: 100%;
}

/* Base Bubble Style */
.chat-bubble {
  max-width: 70%; /* Limit bubble width */
  padding: 10px 15px;
  border-radius: 20px;
  margin: 0;
  word-wrap: break-word; /* Ensure text wraps */
}

/* Styles for AI Messages (Left Aligned) */
.ai {
  justify-content: flex-start;
}
.ai .chat-bubble {
  background-color: #e0e0e0; /* Light gray background */
  color: #333;
  border-top-left-radius: 5px; /* Square off corner near the source */
}

/* Styles for User Messages (Right Aligned) */
.user {
  justify-content: flex-end; /* Push the content to the right */
}
.user .chat-bubble {
  background-color: #007bff; /* Blue background */
  color: white;
  border-top-right-radius: 5px; /* Square off corner near the source */
}
